'.source.js':
  "import Ember.$":
    "prefix": "im-jquery"
    "body": "import $ from 'jquery'"
  "import Ember.A":
    "prefix": "im-a"
    "body": "import { A } from '@ember/array'"
  "import Ember.Application":
    "prefix": "im-application"
    "body": "import Application from '@ember/application'"
  "import Ember.Array":
    "prefix": "im-array"
    "body": "import EmberArray from '@ember/array'"
  "import Ember.ArrayProxy":
    "prefix": "im-array-proxy"
    "body": "import ArrayProxy from '@ember/array/proxy'"
  "import Ember.AutoLocation":
    "prefix": "im-auto-location"
    "body": "import AutoLocation from '@ember/routing/auto-location'"
  "import Ember.Checkbox":
    "prefix": "im-checkbox"
    "body": "import Checkbox from '@ember/component/checkbox'"
  "import Ember.Component":
    "prefix": "im-component"
    "body": "import Component from '@ember/component'"
  "import Ember.ContainerDebugAdapter":
    "prefix": "im-container-debug-adapter"
    "body": "import ContainerDebugAdapter from '@ember/debug/container-debug-adapter'"
  "import Ember.Controller":
    "prefix": "im-controller"
    "body": "import Controller from '@ember/controller'"
  "import Ember.DataAdapter":
    "prefix": "im-data-adapter"
    "body": "import DataAdapter from '@ember/debug/data-adapter'"
  "import Ember.DefaultResolver":
    "prefix": "im-default-resolver"
    "body": "import GlobalsResolver from '@ember/application/globals-resolver'"
  "import Ember.Enumerable":
    "prefix": "im-enumerable"
    "body": "import Enumerable from '@ember/enumerable'"
  "import Ember.Evented":
    "prefix": "im-evented"
    "body": "import Evented from '@ember/object/evented'"
  "import Ember.HashLocation":
    "prefix": "im-hash-location"
    "body": "import HashLocation from '@ember/routing/hash-location'"
  "import Ember.Helper":
    "prefix": "im-helper"
    "body": "import Helper from '@ember/component/helper'"
  "import Ember.Helper.helper":
    "prefix": "im-helper-helper"
    "body": "import { helper } from '@ember/component/helper'"
  "import Ember.HistoryLocation":
    "prefix": "im-history-location"
    "body": "import HistoryLocation from '@ember/routing/history-location'"
  "import Ember.LinkComponent":
    "prefix": "im-link-component"
    "body": "import LinkComponent from '@ember/routing/link-component'"
  "import Ember.Location":
    "prefix": "im-location"
    "body": "import Location from '@ember/routing/location'"
  "import Ember.Map":
    "prefix": "im-map"
    "body": "import EmberMap from '@ember/map'"
  "import Ember.MapWithDefault":
    "prefix": "im-map-with-default"
    "body": "import MapWithDefault from '@ember/map/with-default'"
  "import Ember.Mixin":
    "prefix": "im-mixin"
    "body": "import Mixin from '@ember/object/mixin'"
  "import Ember.MutableArray":
    "prefix": "im-mutable-array"
    "body": "import MutableArray from '@ember/array/mutable'"
  "import Ember.NoneLocation":
    "prefix": "im-none-location"
    "body": "import NoneLocation from '@ember/routing/none-location'"
  "import Ember.Object":
    "prefix": "im-object"
    "body": "import EmberObject from '@ember/object'"
  "import Ember.RSVP":
    "prefix": "im-rsvp"
    "body": "import RSVP from 'rsvp'"
  "import Ember.Resolver":
    "prefix": "im-resolver"
    "body": "import Resolver from '@ember/application/resolver'"
  "import Ember.Route":
    "prefix": "im-route"
    "body": "import Route from '@ember/routing/route'"
  "import Ember.Router":
    "prefix": "im-router"
    "body": "import Router from '@ember/routing/router'"
  "import Ember.Service":
    "prefix": "im-service"
    "body": "import Service from '@ember/service'"
  "import Ember.String.camelize":
    "prefix": "im-string-camelize"
    "body": "import { camelize } from '@ember/string'"
  "import Ember.String.capitalize":
    "prefix": "im-string-capitalize"
    "body": "import { capitalize } from '@ember/string'"
  "import Ember.String.classify":
    "prefix": "im-string-classify"
    "body": "import { classify } from '@ember/string'"
  "import Ember.String.dasherize":
    "prefix": "im-string-dasherize"
    "body": "import { dasherize } from '@ember/string'"
  "import Ember.String.decamelize":
    "prefix": "im-string-decamelize"
    "body": "import { decamelize } from '@ember/string'"
  "import Ember.String.fmt":
    "prefix": "im-string-fmt"
    "body": "import { fmt } from '@ember/string'"
  "import Ember.String.htmlSafe":
    "prefix": "im-string-html-safe"
    "body": "import { htmlSafe } from '@ember/string'"
  "import Ember.String.loc":
    "prefix": "im-string-loc"
    "body": "import { loc } from '@ember/string'"
  "import Ember.String.underscore":
    "prefix": "im-string-underscore"
    "body": "import { underscore } from '@ember/string'"
  "import Ember.String.w":
    "prefix": "im-string-w"
    "body": "import { w } from '@ember/string'"
  "import Ember.TextArea":
    "prefix": "im-text-area"
    "body": "import TextArea from '@ember/component/text-area'"
  "import Ember.TextField":
    "prefix": "im-text-field"
    "body": "import TextField from '@ember/component/text-field'"
  "import Ember.addListener":
    "prefix": "im-add-listener"
    "body": "import { addListener } from '@ember/object/events'"
  "import Ember.addObserver":
    "prefix": "im-add-observer"
    "body": "import { addObserver } from '@ember/object/observers'"
  "import Ember.aliasMethod":
    "prefix": "im-alias-method"
    "body": "import { aliasMethod } from '@ember/object'"
  "import Ember.assert":
    "prefix": "im-assert"
    "body": "import { assert } from '@ember/debug'"
  "import Ember.assign":
    "prefix": "im-assign"
    "body": "import { assign } from '@ember/polyfills'"
  "import Ember.cacheFor":
    "prefix": "im-cache-for"
    "body": "import { cacheFor } from '@ember/object/internals'"
  "import Ember.compare":
    "prefix": "im-compare"
    "body": "import { compare } from '@ember/utils'"
  "import Ember.computed":
    "prefix": "im-computed"
    "body": "import { computed } from '@ember/object'"
  "import Ember.computed.alias":
    "prefix": "im-computed-alias"
    "body": "import { alias } from '@ember/object/computed'"
  "import Ember.computed.and":
    "prefix": "im-computed-and"
    "body": "import { and } from '@ember/object/computed'"
  "import Ember.computed.bool":
    "prefix": "im-computed-bool"
    "body": "import { bool } from '@ember/object/computed'"
  "import Ember.computed.collect":
    "prefix": "im-computed-collect"
    "body": "import { collect } from '@ember/object/computed'"
  "import Ember.computed.deprecatingAlias":
    "prefix": "im-computed-deprecating-alias"
    "body": "import { deprecatingAlias } from '@ember/object/computed'"
  "import Ember.computed.empty":
    "prefix": "im-computed-empty"
    "body": "import { empty } from '@ember/object/computed'"
  "import Ember.computed.equal":
    "prefix": "im-computed-equal"
    "body": "import { equal } from '@ember/object/computed'"
  "import Ember.computed.filter":
    "prefix": "im-computed-filter"
    "body": "import { filter } from '@ember/object/computed'"
  "import Ember.computed.filterBy":
    "prefix": "im-computed-filter-by"
    "body": "import { filterBy } from '@ember/object/computed'"
  "import Ember.computed.filterProperty":
    "prefix": "im-computed-filter-property"
    "body": "import { filterProperty } from '@ember/object/computed'"
  "import Ember.computed.gt":
    "prefix": "im-computed-gt"
    "body": "import { gt } from '@ember/object/computed'"
  "import Ember.computed.gte":
    "prefix": "im-computed-gte"
    "body": "import { gte } from '@ember/object/computed'"
  "import Ember.computed.intersect":
    "prefix": "im-computed-intersect"
    "body": "import { intersect } from '@ember/object/computed'"
  "import Ember.computed.lt":
    "prefix": "im-computed-lt"
    "body": "import { lt } from '@ember/object/computed'"
  "import Ember.computed.lte":
    "prefix": "im-computed-lte"
    "body": "import { lte } from '@ember/object/computed'"
  "import Ember.computed.map":
    "prefix": "im-computed-map"
    "body": "import { map } from '@ember/object/computed'"
  "import Ember.computed.mapBy":
    "prefix": "im-computed-map-by"
    "body": "import { mapBy } from '@ember/object/computed'"
  "import Ember.computed.mapProperty":
    "prefix": "im-computed-map-property"
    "body": "import { mapProperty } from '@ember/object/computed'"
  "import Ember.computed.match":
    "prefix": "im-computed-match"
    "body": "import { match } from '@ember/object/computed'"
  "import Ember.computed.max":
    "prefix": "im-computed-max"
    "body": "import { max } from '@ember/object/computed'"
  "import Ember.computed.min":
    "prefix": "im-computed-min"
    "body": "import { min } from '@ember/object/computed'"
  "import Ember.computed.none":
    "prefix": "im-computed-none"
    "body": "import { none } from '@ember/object/computed'"
  "import Ember.computed.not":
    "prefix": "im-computed-not"
    "body": "import { not } from '@ember/object/computed'"
  "import Ember.computed.notEmpty":
    "prefix": "im-computed-not-empty"
    "body": "import { notEmpty } from '@ember/object/computed'"
  "import Ember.computed.oneWay":
    "prefix": "im-computed-one-way"
    "body": "import { oneWay } from '@ember/object/computed'"
  "import Ember.computed.or":
    "prefix": "im-computed-or"
    "body": "import { or } from '@ember/object/computed'"
  "import Ember.computed.readOnly":
    "prefix": "im-computed-read-only"
    "body": "import { readOnly } from '@ember/object/computed'"
  "import Ember.computed.reads":
    "prefix": "im-computed-reads"
    "body": "import { reads } from '@ember/object/computed'"
  "import Ember.computed.setDiff":
    "prefix": "im-computed-set-diff"
    "body": "import { setDiff } from '@ember/object/computed'"
  "import Ember.computed.sort":
    "prefix": "im-computed-sort"
    "body": "import { sort } from '@ember/object/computed'"
  "import Ember.computed.sum":
    "prefix": "im-computed-sum"
    "body": "import { sum } from '@ember/object/computed'"
  "import Ember.computed.union":
    "prefix": "im-computed-union"
    "body": "import { union } from '@ember/object/computed'"
  "import Ember.computed.uniq":
    "prefix": "im-computed-uniq"
    "body": "import { uniq } from '@ember/object/computed'"
  "import Ember.copy":
    "prefix": "im-copy"
    "body": "import { copy } from '@ember/object/internals'"
  "import Ember.create":
    "prefix": "im-create"
    "body": "import { create } from '@ember/polyfills'"
  "import Ember.debug":
    "prefix": "im-debug"
    "body": "import { debug } from '@ember/debug'"
  "import Ember.deprecate":
    "prefix": "im-deprecate"
    "body": "import { deprecate } from '@ember/application/deprecations'"
  "import Ember.deprecateFunc":
    "prefix": "im-deprecate-func"
    "body": "import { deprecateFunc } from '@ember/application/deprecations'"
  "import Ember.get":
    "prefix": "im-get"
    "body": "import { get } from '@ember/object'"
  "import Ember.getOwner":
    "prefix": "im-get-owner"
    "body": "import { getOwner } from '@ember/application'"
  "import Ember.getProperties":
    "prefix": "im-get-properties"
    "body": "import { getProperties } from '@ember/object'"
  "import Ember.guidFor":
    "prefix": "im-guid-for"
    "body": "import { guidFor } from '@ember/object/internals'"
  "import Ember.inject.controller":
    "prefix": "im-inject-controller"
    "body": "import { inject as controller } from '@ember/controller'"
  "import Ember.inject.service":
    "prefix": "im-inject-service"
    "body": "import { inject as service } from '@ember/service'"
  "import Ember.inspect":
    "prefix": "im-inspect"
    "body": "import { inspect } from '@ember/debug'"
  "import Ember.instrument":
    "prefix": "im-instrument"
    "body": "import { instrument } from '@ember/instrumentation'"
  "import Ember.isArray":
    "prefix": "im-is-array"
    "body": "import { isArray } from '@ember/array'"
  "import Ember.isBlank":
    "prefix": "im-is-blank"
    "body": "import { isBlank } from '@ember/utils'"
  "import Ember.isEmpty":
    "prefix": "im-is-empty"
    "body": "import { isEmpty } from '@ember/utils'"
  "import Ember.isEqual":
    "prefix": "im-is-equal"
    "body": "import { isEqual } from '@ember/utils'"
  "import Ember.isNone":
    "prefix": "im-is-none"
    "body": "import { isNone } from '@ember/utils'"
  "import Ember.isPresent":
    "prefix": "im-is-present"
    "body": "import { isPresent } from '@ember/utils'"
  "import Ember.keys":
    "prefix": "im-keys"
    "body": "import { keys } from '@ember/polyfills'"
  "import Ember.makeArray":
    "prefix": "im-make-array"
    "body": "import { makeArray } from '@ember/array'"
  "import Ember.observer":
    "prefix": "im-observer"
    "body": "import { observer } from '@ember/object'"
  "import Ember.on":
    "prefix": "im-on"
    "body": "import { on } from '@ember/object/evented'"
  "import Ember.onLoad":
    "prefix": "im-on-load"
    "body": "import { onLoad } from '@ember/application'"
  "import Ember.platform.defineProperty":
    "prefix": "im-platform-define-property"
    "body": "import { defineProperty } from '@ember/polyfills'"
  "import Ember.platform.hasPropertyAccessors":
    "prefix": "im-platform-has-property-accessors"
    "body": "import { hasPropertyAccessors } from '@ember/polyfills'"
  "import Ember.removeListener":
    "prefix": "im-remove-listener"
    "body": "import { removeListener } from '@ember/object/events'"
  "import Ember.removeObserver":
    "prefix": "im-remove-observer"
    "body": "import { removeObserver } from '@ember/object/observers'"
  "import Ember.reset":
    "prefix": "im-reset"
    "body": "import { reset } from '@ember/instrumentation'"
  "import Ember.run":
    "prefix": "im-run"
    "body": "import { run } from '@ember/runloop'"
  "import Ember.run.begin":
    "prefix": "im-run-begin"
    "body": "import { begin } from '@ember/runloop'"
  "import Ember.run.bind":
    "prefix": "im-run-bind"
    "body": "import { bind } from '@ember/runloop'"
  "import Ember.run.cancel":
    "prefix": "im-run-cancel"
    "body": "import { cancel } from '@ember/runloop'"
  "import Ember.run.debounce":
    "prefix": "im-run-debounce"
    "body": "import { debounce } from '@ember/runloop'"
  "import Ember.run.end":
    "prefix": "im-run-end"
    "body": "import { end } from '@ember/runloop'"
  "import Ember.run.join":
    "prefix": "im-run-join"
    "body": "import { join } from '@ember/runloop'"
  "import Ember.run.later":
    "prefix": "im-run-later"
    "body": "import { later } from '@ember/runloop'"
  "import Ember.run.next":
    "prefix": "im-run-next"
    "body": "import { next } from '@ember/runloop'"
  "import Ember.run.once":
    "prefix": "im-run-once"
    "body": "import { once } from '@ember/runloop'"
  "import Ember.run.schedule":
    "prefix": "im-run-schedule"
    "body": "import { schedule } from '@ember/runloop'"
  "import Ember.run.scheduleOnce":
    "prefix": "im-run-schedule-once"
    "body": "import { scheduleOnce } from '@ember/runloop'"
  "import Ember.run.throttle":
    "prefix": "im-run-throttle"
    "body": "import { throttle } from '@ember/runloop'"
  "import Ember.runInDebug":
    "prefix": "im-run-in-debug"
    "body": "import { runInDebug } from '@ember/debug'"
  "import Ember.runLoadHooks":
    "prefix": "im-run-load-hooks"
    "body": "import { runLoadHooks } from '@ember/application'"
  "import Ember.sendEvent":
    "prefix": "im-send-event"
    "body": "import { sendEvent } from '@ember/object/events'"
  "import Ember.set":
    "prefix": "im-set"
    "body": "import { set } from '@ember/object'"
  "import Ember.setOwner":
    "prefix": "im-set-owner"
    "body": "import { setOwner } from '@ember/application'"
  "import Ember.setProperties":
    "prefix": "im-set-properties"
    "body": "import { setProperties } from '@ember/object'"
  "import Ember.subscribe":
    "prefix": "im-subscribe"
    "body": "import { subscribe } from '@ember/instrumentation'"
  "import Ember.tryInvoke":
    "prefix": "im-try-invoke"
    "body": "import { tryInvoke } from '@ember/utils'"
  "import Ember.trySet":
    "prefix": "im-try-set"
    "body": "import { trySet } from '@ember/object'"
  "import Ember.typeOf":
    "prefix": "im-type-of"
    "body": "import { typeOf } from '@ember/utils'"
  "import Ember.unsubscribe":
    "prefix": "im-unsubscribe"
    "body": "import { unsubscribe } from '@ember/instrumentation'"
  "import Ember.warn":
    "prefix": "im-warn"
    "body": "import { warn } from '@ember/debug'"